/* Стили для хедера */
header {
	background-image: url(../images/pizza-bg.png) no-repeat fixed;
	background-SIZE: 100%;
	height: 1920px;
}

/* Стили для основной части */
main {
	background-color: #ffffff;
	height: 2100px;
}

/* Стили для футера */
footer {
	background-color: #236643;
	color: #236643;
	height: 200px;
}